@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700");

body {
  font-family: "Open Sans", sans-serif;
}
#popular a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
#popular a:hover {
  text-decoration: none;
  color: #ccc;
}

#trending a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
#trending a:hover {
  text-decoration: none;
  color: #ccc;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.dark-overlay:hover {
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  height: 100%;
}
.card-img-overlay {
  z-index: 1 !important;
}

.carousel-item:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  content: "";
}
